___
# Ciência dos Dados - PROJETO 1

### Rafael dos Santos e José Bechara
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Filtros da base de dados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\rafae\Desktop\DP\Dados\Projeto1

In [4]:
#Se usar o arquivo descompactado
PES2015 = pd.read_csv('PES2015.csv',sep=',')

PES2011 = pd.read_csv('PES2011.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [5]:
#2015:
old_columns = ['UF','V0302','V8005',"V0601",'V0602','V6002','V6020',"V0605",'V6007','V0609','V0610','V0611','V061111','V061112','V061113','V061114','V9891','V4801','V4802','V4803']
new_names = ['UF','Sexo','Idade','sabe ler e escrever','frequenta escola ou creche','escola publica ou privada', 'Area da rede publica de ensino', 'serie que frequenta','curso mais elevado que frequentou anteriormente','Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente','Última série concluída com aprovação, neste curso que frequentou anteriormente','Concluiu este curso que frequentou anteriormente','Nos últimos 12 meses, utilizou a Internet em algum local','O acesso à Internet foi feito através de microcomputador','O acesso à Internet foi feito através de telefone celular','O acesso à Internet foi feito através de um tablet','Faixa de idade em que começou a trabalhar','Nível de ensino, duração do ensino fundamental e série que frequentavam','Nível de ensino e grupos de séries do ensino fundamental que frequentavam',"Anos de estudo"]
novo_df = PES2015[old_columns]

In [6]:
#2015:
try:
    novo_df.columns = new_names
    novo_df.loc[(novo_df.UF == 11), "UF"] = "Rondonia"
    novo_df.loc[(novo_df.UF == 12), "UF"] = "Acre"
    novo_df.loc[(novo_df.UF == 13), "UF"] = "Amazonas"
    novo_df.loc[(novo_df.UF == 14), "UF"] = "Roraima"
    novo_df.loc[(novo_df.UF == 15), "UF"] = "Pará"
    novo_df.loc[(novo_df.UF == 16), "UF"] = "Amapá"
    novo_df.loc[(novo_df.UF == 17), "UF"] = "Tocantins"
    novo_df.loc[(novo_df.UF == 21), "UF"] = "Maranhão"
    novo_df.loc[(novo_df.UF == 22), "UF"] = "Piauí"
    novo_df.loc[(novo_df.UF == 23), "UF"] = "Ceará"
    novo_df.loc[(novo_df.UF == 24), "UF"] = "Rio Grande do Norte"
    novo_df.loc[(novo_df.UF == 25), "UF"] = "Paraíba"
    novo_df.loc[(novo_df.UF == 26), "UF"] = "Pernambuco"
    novo_df.loc[(novo_df.UF == 27), "UF"] = "Alagoas"
    novo_df.loc[(novo_df.UF == 28), "UF"] = "Sergipe"
    novo_df.loc[(novo_df.UF == 29), "UF"] = "Bahia"
    novo_df.loc[(novo_df.UF == 31), "UF"] = "Minas Gerais"
    novo_df.loc[(novo_df.UF == 32), "UF"] = "Espírito Santo"
    novo_df.loc[(novo_df.UF == 33), "UF"] = "Rio de Janeiro"
    novo_df.loc[(novo_df.UF == 35), "UF"] = "São Paulo"
    novo_df.loc[(novo_df.UF == 41), "UF"] = "Paraná"
    novo_df.loc[(novo_df.UF == 42), "UF"] = "Santa Catarina"
    novo_df.loc[(novo_df.UF == 43), "UF"] = "Rio Grande do Sul"
    novo_df.loc[(novo_df.UF == 50), "UF"] = "Mato Grosso do Sul"
    novo_df.loc[(novo_df.UF == 51), "UF"] = "Mato Grosso"
    novo_df.loc[(novo_df.UF == 52), "UF"] = "Goiás"
    novo_df.loc[(novo_df.UF == 53), "UF"] = "Distrito Federal"
    
    novo_df.loc[(novo_df.Sexo == 2), 'Sexo'] = "Masculino"
    novo_df.loc[(novo_df.Sexo == 4), 'Sexo'] = "Feminino"
    
    novo_df.loc[(novo_df['sabe ler e escrever'] == 1), 'sabe ler e escrever'] = "Sim"
    novo_df.loc[(novo_df['sabe ler e escrever'] == 3), 'sabe ler e escrever'] = "Não"

    novo_df.loc[(novo_df['frequenta escola ou creche'] == 2), 'frequenta escola ou creche'] = "Sim"
    novo_df.loc[(novo_df['frequenta escola ou creche'] == 4), 'frequenta escola ou creche'] = "Não"

    novo_df.loc[(novo_df['escola publica ou privada'] == 4), 'escola publica ou privada'] = "Privada"
    novo_df.loc[(novo_df['escola publica ou privada'] == 2), 'escola publica ou privada'] = "Publica"
    novo_df.loc[(novo_df['escola publica ou privada'].isnull() == True), 'escola publica ou privada'] = "Não Aplicavel"


    novo_df.loc[(novo_df['Area da rede publica de ensino'] == 2), 'Area da rede publica de ensino'] = "Municipal"
    novo_df.loc[(novo_df['Area da rede publica de ensino'] == 4), 'Area da rede publica de ensino'] = "Estadual"
    novo_df.loc[(novo_df['Area da rede publica de ensino'] == 6), 'Area da rede publica de ensino'] = "Federal"
    novo_df.loc[(novo_df['Area da rede publica de ensino'].isnull() == True), 'Area da rede publica de ensino'] = "Não Aplicavel"

    novo_df.loc[(novo_df['serie que frequenta'] == 0), 'serie que frequenta'] = 9
    
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 1), 'curso mais elevado que frequentou anteriormente'] = "Elementar (primário)"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 2), 'curso mais elevado que frequentou anteriormente'] = "Médio 1º ciclo (ginasial, etc.)"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 3), 'curso mais elevado que frequentou anteriormente'] = "Médio 2º ciclo (científico, clássico, etc.)"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 4), 'curso mais elevado que frequentou anteriormente'] = "Regular do ensino fundamental ou do 1º grau"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 5), 'curso mais elevado que frequentou anteriormente'] = "Regular do ensino médio ou do 2º grau"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 6), 'curso mais elevado que frequentou anteriormente'] = "Educação de jovens e adultos ou supletivo do ensino fundamental ou do 1º grau"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 7), 'curso mais elevado que frequentou anteriormente'] = "Educação de jovens e adultos ou supletivo de ensino médio ou do 2º grau"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 8), 'curso mais elevado que frequentou anteriormente'] = "Superior de graduação"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 9), 'curso mais elevado que frequentou anteriormente'] = "Mestrado ou doutorado"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 10), 'curso mais elevado que frequentou anteriormente'] = "Alfabetização de jovens e adultos"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 11), 'curso mais elevado que frequentou anteriormente'] = "Creche"
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 12), 'curso mais elevado que frequentou anteriormente'] = "Classe de alfabetização - CA "
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'] == 13), 'curso mais elevado que frequentou anteriormente'] = "Maternal, jardim de infância etc."
    novo_df.loc[(novo_df['curso mais elevado que frequentou anteriormente'].isnull() == True), 'curso mais elevado que frequentou anteriormente'] = "Não aplicável"

    novo_df.loc[(novo_df['Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] == 1), 'Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] = "Sim"
    novo_df.loc[(novo_df['Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] == 3), 'Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] = "Não"
    novo_df.loc[(novo_df['Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'].isnull() == True), 'Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] = "Não aplicável"

    novo_df.loc[(novo_df['Última série concluída com aprovação, neste curso que frequentou anteriormente'] == 0), "Última série concluída com aprovação, neste curso que frequentou anteriormente"] = 9

    novo_df.loc[(novo_df['Concluiu este curso que frequentou anteriormente'] == 1), 'Concluiu este curso que frequentou anteriormente'] = "Sim"
    novo_df.loc[(novo_df['Concluiu este curso que frequentou anteriormente'] == 3), 'Concluiu este curso que frequentou anteriormente'] = "Não"
    novo_df.loc[(novo_df['Concluiu este curso que frequentou anteriormente'].isnull() == True), 'Concluiu este curso que frequentou anteriormente'] = "Não Aplicavel"

    novo_df.loc[(novo_df['Nos últimos 12 meses, utilizou a Internet em algum local'] == 1), 'Nos últimos 12 meses, utilizou a Internet em algum local'] = "Sim"
    novo_df.loc[(novo_df['Nos últimos 12 meses, utilizou a Internet em algum local'] == 3), 'Nos últimos 12 meses, utilizou a Internet em algum local'] = "Não"
    novo_df.loc[(novo_df['Nos últimos 12 meses, utilizou a Internet em algum local'].isnull() == True), 'Nos últimos 12 meses, utilizou a Internet em algum local'] = "Não Aplicavel"

    novo_df.loc[(novo_df['O acesso à Internet foi feito através de microcomputador'] == 1), 'O acesso à Internet foi feito através de microcomputador'] = "Sim"
    novo_df.loc[(novo_df['O acesso à Internet foi feito através de microcomputador'] == 2), 'O acesso à Internet foi feito através de microcomputador'] = "Não"
    novo_df.loc[(novo_df['O acesso à Internet foi feito através de microcomputador'].isnull() == True), 'O acesso à Internet foi feito através de microcomputador'] = "Não Aplicavel"

    novo_df.loc[(novo_df['O acesso à Internet foi feito através de telefone celular'] == 1), 'O acesso à Internet foi feito através de telefone celular'] = "Sim"
    novo_df.loc[(novo_df['O acesso à Internet foi feito através de telefone celular'] == 2), 'O acesso à Internet foi feito através de telefone celular'] = "Não"
    novo_df.loc[(novo_df['O acesso à Internet foi feito através de telefone celular'].isnull() == True), 'O acesso à Internet foi feito através de telefone celular'] = "Não Aplicavel"

    novo_df.loc[(novo_df['O acesso à Internet foi feito através de um tablet'] == 1), 'O acesso à Internet foi feito através de um tablet'] = "Sim"
    novo_df.loc[(novo_df['O acesso à Internet foi feito através de um tablet'] == 2), 'O acesso à Internet foi feito através de um tablet'] = "Não"
    novo_df.loc[(novo_df['O acesso à Internet foi feito através de um tablet'].isnull() == True), 'O acesso à Internet foi feito através de um tablet'] = "Não Aplicavel"

    novo_df.loc[(novo_df['Faixa de idade em que começou a trabalhar'] == 1), 'Faixa de idade em que começou a trabalhar'] = "Ate 9 anos"
    novo_df.loc[(novo_df['Faixa de idade em que começou a trabalhar'] == 2), 'Faixa de idade em que começou a trabalhar'] = "10 a 14 anos"
    novo_df.loc[(novo_df['Faixa de idade em que começou a trabalhar'] == 3), 'Faixa de idade em que começou a trabalhar'] = "15 a 17 anos"
    novo_df.loc[(novo_df['Faixa de idade em que começou a trabalhar'] == 4), 'Faixa de idade em que começou a trabalhar'] = "18 a 19 anos"
    novo_df.loc[(novo_df['Faixa de idade em que começou a trabalhar'] == 5), 'Faixa de idade em que começou a trabalhar'] = "20 a 24 anos"
    novo_df.loc[(novo_df['Faixa de idade em que começou a trabalhar'] == 6), 'Faixa de idade em que começou a trabalhar'] = "25 a 29 anos"
    novo_df.loc[(novo_df['Faixa de idade em que começou a trabalhar'] == 7), 'Faixa de idade em que começou a trabalhar'] = "30 anos ou mais"
    novo_df.loc[(novo_df['Faixa de idade em que começou a trabalhar'].isnull() == True), 'Fai.isnull() == Truexa de idade em que começou a trabalhar'] = "Não Aplicavel"

    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 1), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Maternal, jardim de infância etc."
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 2), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Classe de alfabetização"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 3), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Alfabetização de adultos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 4), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "1ª série do ensino fundamental regular em 8 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 5), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "2ª série do ensino fundamental regular em 8 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 6), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "3ª série do ensino fundamental regular em 8 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 7), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "4ª série do ensino fundamental regular em 8 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 8), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "5ª série do ensino fundamental regular em 8 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 9), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "6ª série do ensino fundamental regular em 8 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 10), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "7ª série do ensino fundamental regular em 8 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 11), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "8ª série do ensino fundamental regular em 8 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 12), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "1ª série do ensino fundamental regular em 9 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 13), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "2ª série do ensino fundamental regular em 9 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 14), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "3ª série do ensino fundamental regular em 9 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 15), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "4ª série do ensino fundamental regular em 9 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 16), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "5ª série do ensino fundamental regular em 9 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 17), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "6ª série do ensino fundamental regular em 9 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 18), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "7ª série do ensino fundamental regular em 9 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 19), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "8ª série do ensino fundamental regular em 9 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 20), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "9ª série do ensino fundamental regular em 9 anos"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 21), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Educação de jovens e adultos do ensino fundamental (seriado e não seriado)"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 22), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Regular do ensino médio "
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 23), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Educação de jovens e adultos do ensino médio"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 24), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Pré-vestibular"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 25), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Superior, inclusive mestrado e doutorado"
    novo_df.loc[(novo_df['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'].isnull() == True), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Não Aplicavel"

    novo_df.loc[(novo_df['Anos de estudo'] == 1), 'Anos de estudo'] = "Sem instrução e menos de 1 ano"
    novo_df.loc[(novo_df['Anos de estudo'] == 2), 'Anos de estudo'] = "1ano"
    novo_df.loc[(novo_df['Anos de estudo'] == 3), 'Anos de estudo'] = "2anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 4), 'Anos de estudo'] = "3anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 5), 'Anos de estudo'] = "4anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 6), 'Anos de estudo'] = "5anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 7), 'Anos de estudo'] = "6anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 8), 'Anos de estudo'] = "7anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 9), 'Anos de estudo'] = "8anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 10), 'Anos de estudo'] = "9anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 11), 'Anos de estudo'] = "10 anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 12), 'Anos de estudo'] = "11 anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 13), 'Anos de estudo'] = "12 anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 14), 'Anos de estudo'] = "13 anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 15), 'Anos de estudo'] = "14 anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 16), 'Anos de estudo'] = "15 anos"
    novo_df.loc[(novo_df['Anos de estudo'] == 17), 'Anos de estudo'] = "Não Determinado"
    novo_df.loc[(novo_df['Anos de estudo'].isnull() == True), 'Anos de estudo'] = "Não Aplicavel"
except:''

C:\Users\rafae\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\Users\rafae\Anaconda3\lib\site-packages\pandas\core\indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

In [27]:
novo_df.head()

,UF,Sexo,Idade,sabe ler e escrever,frequenta escola ou creche,escola publica ou privada,Area da rede publica de ensino,serie que frequenta,curso mais elevado que frequentou anteriormente,"Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente",...,Concluiu este curso que frequentou anteriormente,"Nos últimos 12 meses, utilizou a Internet em algum local",O acesso à Internet foi feito através de microcomputador,O acesso à Internet foi feito através de telefone celular,O acesso à Internet foi feito através de um tablet,Faixa de idade em que começou a trabalhar,"Nível de ensino, duração do ensino fundamental e série que frequentavam",Nível de ensino e grupos de séries do ensino fundamental que frequentavam,Anos de estudo,Fai.isnull() == Truexa de idade em que começou a trabalhar
0,Rondonia,Masculino,23,Sim,Não,Não Aplicavel,Não Aplicavel,NaN,Regular do ensino médio ou do 2º grau,Sim,...,Sim,Não Aplicavel,Não,Sim,Não,10 a 14 anos,NaN,Não Aplicavel,11 anos,NaN
1,Rondonia,Feminino,23,Sim,Não,Não Aplicavel,Não Aplicavel,NaN,Regular do ensino médio ou do 2º grau,Sim,...,Sim,Não Aplicavel,Sim,Sim,Não,20 a 24 anos,NaN,Não Aplicavel,11 anos,NaN
2,Rondonia,Feminino,35,Sim,Sim,Privada,Não Aplicavel,4.0,Não aplicável,Não aplicável,...,Não Aplicavel,Não Aplicavel,Sim,Sim,Não,10 a 14 anos,25.0,8ª série do ensino fundamental regular em 8 anos,14 anos,NaN
3,Rondonia,Masculino,34,Sim,Não,Não Aplicavel,Não Aplicavel,NaN,Superior de graduação,Sim,...,Sim,Não Aplicavel,Sim,Sim,Não,Ate 9 anos,NaN,Não Aplicavel,14 anos,NaN
4,Rondonia,Feminino,11,Sim,Sim,Privada,Não Aplicavel,5.0,Não aplicável,Não aplicável,...,Não Aplicavel,Não Aplicavel,Sim,Não,Não,NaN,16.0,4ª série do ensino fundamental regular em 8 anos,3anos,Não Aplicavel

In [45]:
#2011:
old_columns1 = ['UF','V0302','V8005',"V0601",'V0602','V6002','V6020',"V0605",'V6007','V0609','V0610','V0611','V9891','V4801','V4802', 'V4803']
new_names1 = ['UF','Sexo','Idade','sabe ler e escrever','frequenta escola ou creche','escola publica ou privada', 'Area da rede publica de ensino', 'serie que frequenta','curso mais elevado que frequentou anteriormente','Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente','Última série concluída com aprovação, neste curso que frequentou anteriormente','Concluiu este curso que frequentou anteriormente','Faixa de idade que começou a trabalhar','Nível de ensino, duração do ensino fundamental e série que frequentavam','Nível de ensino e grupos de séries do ensino fundamental que frequentavam','Anos de estudo']
#novo_df1 = PES2011[old_columns1]
for e, i in zip(old_columns1, new_names1):
    print(e, i)
    print("")

UF UF

V0302 Sexo

V8005 Idade

V0601 sabe ler e escrever

V0602 frequenta escola ou creche

V6002 escola publica ou privada

V6020 Area da rede publica de ensino

V0605 serie que frequenta

V6007 curso mais elevado que frequentou anteriormente

V0609 Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente

V0610 Última série concluída com aprovação, neste curso que frequentou anteriormente

V0611 Concluiu este curso que frequentou anteriormente

V9891 Faixa de idade que começou a trabalhar

V4801 Nível de ensino, duração do ensino fundamental e série que frequentavam

V4802 Nível de ensino e grupos de séries do ensino fundamental que frequentavam

V4803 Anos de estudo

In [46]:
len(new_names1)

16

In [47]:
len(old_columns1)

16

In [50]:
#2011:
try:
    novo_df1.columns = new_names1
    novo_df1.loc[(novo_df1.UF == 11), "UF"] = "Rondonia"
    novo_df1.loc[(novo_df1.UF == 12), "UF"] = "Acre"
    novo_df1.loc[(novo_df1.UF == 13), "UF"] = "Amazonas"
    novo_df1.loc[(novo_df1.UF == 14), "UF"] = "Roraima"
    novo_df1.loc[(novo_df1.UF == 15), "UF"] = "Pará"
    novo_df1.loc[(novo_df1.UF == 16), "UF"] = "Amapá"
    novo_df1.loc[(novo_df1.UF == 17), "UF"] = "Tocantins"
    novo_df1.loc[(novo_df1.UF == 21), "UF"] = "Maranhão"
    novo_df1.loc[(novo_df1.UF == 22), "UF"] = "Piauí"
    novo_df1.loc[(novo_df1.UF == 23), "UF"] = "Ceará"
    novo_df1.loc[(novo_df1.UF == 24), "UF"] = "Rio Grande do Norte"
    novo_df1.loc[(novo_df1.UF == 25), "UF"] = "Paraíba"
    novo_df1.loc[(novo_df1.UF == 26), "UF"] = "Pernambuco"
    novo_df1.loc[(novo_df1.UF == 27), "UF"] = "Alagoas"
    novo_df1.loc[(novo_df1.UF == 28), "UF"] = "Sergipe"
    novo_df1.loc[(novo_df1.UF == 29), "UF"] = "Bahia"
    novo_df1.loc[(novo_df1.UF == 31), "UF"] = "Minas Gerais"
    novo_df1.loc[(novo_df1.UF == 32), "UF"] = "Espírito Santo"
    novo_df1.loc[(novo_df1.UF == 33), "UF"] = "Rio de Janeiro"
    novo_df1.loc[(novo_df1.UF == 35), "UF"] = "São Paulo"
    novo_df1.loc[(novo_df1.UF == 41), "UF"] = "Paraná"
    novo_df1.loc[(novo_df1.UF == 42), "UF"] = "Santa Catarina"
    novo_df1.loc[(novo_df1.UF == 43), "UF"] = "Rio Grande do Sul"
    novo_df1.loc[(novo_df1.UF == 50), "UF"] = "Mato Grosso do Sul"
    novo_df1.loc[(novo_df1.UF == 51), "UF"] = "Mato Grosso"
    novo_df1.loc[(novo_df1.UF == 52), "UF"] = "Goiás"
    novo_df1.loc[(novo_df1.UF == 53), "UF"] = "Distrito Federal"
    
    novo_df1.loc[(novo_df1.Sexo == 2), 'Sexo'] = "Masculino"
    novo_df1.loc[(novo_df1.Sexo == 4), 'Sexo'] = "Feminino"
    
    novo_df1.loc[(novo_df1['sabe ler e escrever'] == 1), 'sabe ler e escrever'] = "Sim"
    novo_df1.loc[(novo_df1['sabe ler e escrever'] == 3), 'sabe ler e escrever'] = "Não"

    novo_df1.loc[(novo_df1['frequenta escola ou creche'] == 2), 'frequenta escola ou creche'] = "Sim"
    novo_df1.loc[(novo_df1['frequenta escola ou creche'] == 4), 'frequenta escola ou creche'] = "Não"

    novo_df1.loc[(novo_df1['escola publica ou privada'] == 4), 'escola publica ou privada'] = "Privada"
    novo_df1.loc[(novo_df1['escola publica ou privada'] == 2), 'escola publica ou privada'] = "Publica"
    novo_df1.loc[(novo_df1['escola publica ou privada'].isnull() == True), 'escola publica ou privada'] = "Não Aplicavel"


    novo_df1.loc[(novo_df1['Area da rede publica de ensino'] == 2), 'Area da rede publica de ensino'] = "Municipal"
    novo_df1.loc[(novo_df1['Area da rede publica de ensino'] == 4), 'Area da rede publica de ensino'] = "Estadual"
    novo_df1.loc[(novo_df1['Area da rede publica de ensino'] == 6), 'Area da rede publica de ensino'] = "Federal"
    novo_df1.loc[(novo_df1['Area da rede publica de ensino'].isnull() == True), 'Area da rede publica de ensino'] = "Não Aplicavel"

    novo_df1.loc[(novo_df1['serie que frequenta'] == 0), 'serie que frequenta'] = 9
    
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 1), 'curso mais elevado que frequentou anteriormente'] = "Elementar (primário)"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 2), 'curso mais elevado que frequentou anteriormente'] = "Médio 1º ciclo (ginasial, etc.)"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 3), 'curso mais elevado que frequentou anteriormente'] = "Médio 2º ciclo (científico, clássico, etc.)"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 4), 'curso mais elevado que frequentou anteriormente'] = "Regular do ensino fundamental ou do 1º grau"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 5), 'curso mais elevado que frequentou anteriormente'] = "Regular do ensino médio ou do 2º grau"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 6), 'curso mais elevado que frequentou anteriormente'] = "Educação de jovens e adultos ou supletivo do ensino fundamental ou do 1º grau"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 7), 'curso mais elevado que frequentou anteriormente'] = "Educação de jovens e adultos ou supletivo de ensino médio ou do 2º grau"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 8), 'curso mais elevado que frequentou anteriormente'] = "Superior de graduação"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 9), 'curso mais elevado que frequentou anteriormente'] = "Mestrado ou doutorado"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 10), 'curso mais elevado que frequentou anteriormente'] = "Alfabetização de jovens e adultos"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 11), 'curso mais elevado que frequentou anteriormente'] = "Creche"
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 12), 'curso mais elevado que frequentou anteriormente'] = "Classe de alfabetização - CA "
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'] == 13), 'curso mais elevado que frequentou anteriormente'] = "Maternal, jardim de infância etc."
    novo_df1.loc[(novo_df1['curso mais elevado que frequentou anteriormente'].isnull() == True), 'curso mais elevado que frequentou anteriormente'] = "Não aplicável"

    novo_df1.loc[(novo_df1['Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] == 1), 'Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] = "Sim"
    novo_df1.loc[(novo_df1['Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] == 3), 'Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] = "Não"
    novo_df1.loc[(novo_df1['Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'].isnull() == True), 'Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente'] = "Não aplicável"

    novo_df1.loc[(novo_df1['Última série concluída com aprovação, neste curso que frequentou anteriormente'] == 0), "Última série concluída com aprovação, neste curso que frequentou anteriormente"] = 9

    novo_df1.loc[(novo_df1['Concluiu este curso que frequentou anteriormente'] == 1), 'Concluiu este curso que frequentou anteriormente'] = "Sim"
    novo_df1.loc[(novo_df1['Concluiu este curso que frequentou anteriormente'] == 3), 'Concluiu este curso que frequentou anteriormente'] = "Não"
    novo_df1.loc[(novo_df1['Concluiu este curso que frequentou anteriormente'].isnull() == True), 'Concluiu este curso que frequentou anteriormente'] = "Não Aplicavel"

    novo_df1.loc[(novo_df1['Nos últimos 12 meses, utilizou a Internet em algum local'] == 1), 'Nos últimos 12 meses, utilizou a Internet em algum local'] = "Sim"
    novo_df1.loc[(novo_df1['Nos últimos 12 meses, utilizou a Internet em algum local'] == 3), 'Nos últimos 12 meses, utilizou a Internet em algum local'] = "Não"
    novo_df1.loc[(novo_df1['Nos últimos 12 meses, utilizou a Internet em algum local'].isnull() == True), 'Nos últimos 12 meses, utilizou a Internet em algum local'] = "Não Aplicavel"

    novo_df1.loc[(novo_df1['Faixa de idade em que começou a trabalhar'] == 1), 'Faixa de idade em que começou a trabalhar'] = "Ate 9 anos"
    novo_df1.loc[(novo_df1['Faixa de idade em que começou a trabalhar'] == 2), 'Faixa de idade em que começou a trabalhar'] = "10 a 14 anos"
    novo_df1.loc[(novo_df1['Faixa de idade em que começou a trabalhar'] == 3), 'Faixa de idade em que começou a trabalhar'] = "15 a 17 anos"
    novo_df1.loc[(novo_df1['Faixa de idade em que começou a trabalhar'] == 4), 'Faixa de idade em que começou a trabalhar'] = "18 a 19 anos"
    novo_df1.loc[(novo_df1['Faixa de idade em que começou a trabalhar'] == 5), 'Faixa de idade em que começou a trabalhar'] = "20 a 24 anos"
    novo_df1.loc[(novo_df1['Faixa de idade em que começou a trabalhar'] == 6), 'Faixa de idade em que começou a trabalhar'] = "25 a 29 anos"
    novo_df1.loc[(novo_df1['Faixa de idade em que começou a trabalhar'] == 7), 'Faixa de idade em que começou a trabalhar'] = "30 anos ou mais"
    novo_df1.loc[(novo_df1['Faixa de idade em que começou a trabalhar'].isnull() == True), 'Fai.isnull() == Truexa de idade em que começou a trabalhar'] = "Não Aplicavel"

    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 1), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Maternal, jardim de infância etc."
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 2), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Classe de alfabetização"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 3), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Alfabetização de adultos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 4), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "1ª série do ensino fundamental regular em 8 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 5), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "2ª série do ensino fundamental regular em 8 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 6), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "3ª série do ensino fundamental regular em 8 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 7), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "4ª série do ensino fundamental regular em 8 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 8), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "5ª série do ensino fundamental regular em 8 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 9), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "6ª série do ensino fundamental regular em 8 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 10), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "7ª série do ensino fundamental regular em 8 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 11), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "8ª série do ensino fundamental regular em 8 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 12), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "1ª série do ensino fundamental regular em 9 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 13), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "2ª série do ensino fundamental regular em 9 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 14), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "3ª série do ensino fundamental regular em 9 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 15), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "4ª série do ensino fundamental regular em 9 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 16), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "5ª série do ensino fundamental regular em 9 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 17), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "6ª série do ensino fundamental regular em 9 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 18), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "7ª série do ensino fundamental regular em 9 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 19), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "8ª série do ensino fundamental regular em 9 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 20), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "9ª série do ensino fundamental regular em 9 anos"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 21), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Educação de jovens e adultos do ensino fundamental (seriado e não seriado)"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 22), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Regular do ensino médio "
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 23), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Educação de jovens e adultos do ensino médio"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 24), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Pré-vestibular"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] == 25), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Superior, inclusive mestrado e doutorado"
    novo_df1.loc[(novo_df1['Nível de ensino e grupos de séries do ensino fundamental que frequentavam'].isnull() == True), 'Nível de ensino e grupos de séries do ensino fundamental que frequentavam'] = "Não Aplicavel"

    novo_df1.loc[(novo_df1['Anos de estudo'] == 1), 'Anos de estudo'] = "Sem instrução e menos de 1 ano"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 2), 'Anos de estudo'] = "1ano"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 3), 'Anos de estudo'] = "2anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 4), 'Anos de estudo'] = "3anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 5), 'Anos de estudo'] = "4anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 6), 'Anos de estudo'] = "5anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 7), 'Anos de estudo'] = "6anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 8), 'Anos de estudo'] = "7anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 9), 'Anos de estudo'] = "8anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 10), 'Anos de estudo'] = "9anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 11), 'Anos de estudo'] = "10 anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 12), 'Anos de estudo'] = "11 anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 13), 'Anos de estudo'] = "12 anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 14), 'Anos de estudo'] = "13 anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 15), 'Anos de estudo'] = "14 anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 16), 'Anos de estudo'] = "15 anos"
    novo_df1.loc[(novo_df1['Anos de estudo'] == 17), 'Anos de estudo'] = "Não Determinado"
    novo_df1.loc[(novo_df1['Anos de estudo'].isnull() == True), 'Anos de estudo'] = "Não Aplicavel"
except:''

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [51]:
novo_df1.columns = new_names1
novo_df1.head()

,UF,Sexo,Idade,sabe ler e escrever,frequenta escola ou creche,escola publica ou privada,Area da rede publica de ensino,serie que frequenta,curso mais elevado que frequentou anteriormente,"Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente","Última série concluída com aprovação, neste curso que frequentou anteriormente",Concluiu este curso que frequentou anteriormente,Faixa de idade que começou a trabalhar,"Nível de ensino, duração do ensino fundamental e série que frequentavam",Nível de ensino e grupos de séries do ensino fundamental que frequentavam,Anos de estudo
0,Rondonia,Masculino,49,Sim,Não,Não Aplicavel,Não Aplicavel,NaN,Elementar (primário),Sim,5.0,Não,2.0,NaN,NaN,6
1,Rondonia,Feminino,33,Sim,Sim,Privada,Não Aplicavel,4.0,Não aplicável,Não aplicável,NaN,Não Aplicavel,NaN,25.0,11.0,15
2,Rondonia,Feminino,15,Sim,Sim,Publica,Estadual,1.0,Não aplicável,Não aplicável,NaN,Não Aplicavel,NaN,22.0,10.0,9
3,Rondonia,Masculino,9,Sim,Sim,Publica,Estadual,4.0,Não aplicável,Não aplicável,NaN,Não Aplicavel,NaN,15.0,7.0,3
4,Rondonia,Feminino,51,Sim,Não,Não Aplicavel,Não Aplicavel,NaN,Regular do ensino médio ou do 2º grau,Sim,2.0,Não,2.0,NaN,NaN,11

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!