___
# Ciência dos Dados - PROJETO 1

### Rafael dos Santos e José Bechara
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Filtros da base de dados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\rafae\Desktop\DP\Dados\Projeto1

In [4]:
#Se usar o arquivo descompactado
PES2015 = pd.read_csv('PES2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [34]:
old_columns = ['UF','V0302','V8005',"V0601",'V0602','V6002','V6020',"V0605",'V6007','V0609','V0610','V0611','V061111','V061112','V061113','V061114','V9891','V4801','V4802','V4803']

In [35]:
new_names = ['UF','Sexo','Idade','sabe ler e escrever','frequenta escola ou creche','escola publica ou privada', 'Area da rede publica de ensino', 'serie que frequenta','curso mais elevado que frequentou anteriormente','Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente','Última série concluída com aprovação, neste curso que frequentou anteriormente','Concluiu este curso que frequentou anteriormente','Nos últimos 12 meses, utilizou a Internet em algum local','O acesso à Internet foi feito através de microcomputador','O acesso à Internet foi feito através de telefone celular','O acesso à Internet foi feito através de um tablet','Faixa de idade em que começou a trabalhar','Nível de ensino, duração do ensino fundamental e série que frequentavam','Nível de ensino e grupos de séries do ensino fundamental que frequentavam',"Anos de estudo"]

In [36]:
len(new_names)

20

In [37]:
len(old_columns)

20

In [38]:
novo_df = PES2015[old_columns]

In [39]:
novo_df.columns = new_names
novo_df = novo_df['UF'][novo_df['UF']==1]
novo_df.head()

,UF,Sexo,Idade,sabe ler e escrever,frequenta escola ou creche,escola publica ou privada,Area da rede publica de ensino,serie que frequenta,curso mais elevado que frequentou anteriormente,"Concluiu, com aprovação, pelo menos a 1ª série deste curso que frequentou anteriormente","Última série concluída com aprovação, neste curso que frequentou anteriormente",Concluiu este curso que frequentou anteriormente,"Nos últimos 12 meses, utilizou a Internet em algum local",O acesso à Internet foi feito através de microcomputador,O acesso à Internet foi feito através de telefone celular,O acesso à Internet foi feito através de um tablet,Faixa de idade em que começou a trabalhar,"Nível de ensino, duração do ensino fundamental e série que frequentavam",Nível de ensino e grupos de séries do ensino fundamental que frequentavam,Anos de estudo
0,11,2,23,1,4,NaN,NaN,NaN,5.0,1.0,3.0,1.0,NaN,2.0,1.0,2.0,2.0,NaN,NaN,12
1,11,4,23,1,4,NaN,NaN,NaN,5.0,1.0,3.0,1.0,NaN,1.0,1.0,2.0,5.0,NaN,NaN,12
2,11,4,35,1,2,4.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,2.0,25.0,11.0,15
3,11,2,34,1,4,NaN,NaN,NaN,8.0,1.0,3.0,1.0,NaN,1.0,1.0,2.0,1.0,NaN,NaN,15
4,11,4,11,1,2,4.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,NaN,16.0,7.0,4

In [ ]:
def change_UF(code):

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!